<div class="container shell">
  <div class="container box-1 d-flex p-2 mt-1">
    <input type="text" [(ngModel)]="forChild" />
  </div>
  <div class="container box-2 d-flex p-2 mt-1">
    <input type="text" [(ngModel)]="forChild2" />
  </div>
  <div
    class="container box-3 p-2 mt-1"
    [class.img-bg]="forChild3.length > 5 ? true : false"
  >
    <img [src]="forChild3" alt="Enter URL.." />
  </div>
  <div class="container box-4 d-flex p-2 mt-1">
    <a [href]="forChild4" target="_blank">{{
      forChild4.length <= 0 ? "..." : "CliCk LINK"
    }}</a>
  </div>
</div>
