<div class="container-fluid h1 bg-dark text-light" id="header">POST FORM</div>
<div class="container bg-warning" id="form-box">
  <div class="row d-flex" id="ip1">
    <input type="text" placeholder="Post Title" class="box-ip" />
  </div>
  <div class="row d-flex" id="ip1">
    <textarea type="text" placeholder="Post Details" class="box-ip"></textarea>
  </div>
  <div class="row d-flex" id="ip1">
    <input type="text" placeholder="Image URL....." class="box-ip" />
  </div>
  <div class="row d-flex" id="ip1">
    <input type="text" placeholder="Website URL....." class="box-ip" />
  </div>
  <div class="row d-flex mt-2" id="ip1">
    <div class="ckb">
      <input type="checkbox" class="ck-ip" name="bg1" value="Bike" />
    </div>
    <div class="all"><label for="bg1"> Add BackGround</label><br /></div>
  </div>
</div>
